<li>
    <p>
        <% if (locals.user && locals.user.id == j.user.id) { %>
            <small>
                <a href="/comments/destroy/<%= j.id %>">x</a>
            </small>
            <% } %>
        <%= j.content %>
        <br>
        <small>
            <%= j.user.name %>
        </small>
    </p>
</li>